/.Rproj.user/*
.Rhistory
.RData
.Ruserdata
/GEOSTAT_PopGrid/*
/OtherGeometry/*
/LAU2/*
/CITY/Data/AdminDelimPop0611.RDS
/CITY/AdminDelimPop0611.RDS
/KEEP/AD/SHP/*
.Rproj.user
/CITY/Data/*
/CITY/CorrectedDB/*
